= render'shared/error_messages',object: f.object
= f.label "Word English"
= f.text_field:en_word, class:'form-control'
= f.label "Word Vietname"
= f.text_area:vi_word, class:'form-control'
= f.label :description
= f.text_area:description, class:'form-control'
#course.mt-4.form-group
  = f.select :course_id, @courses.collect {|u| [ u.name, u.id ] }, { include_blank: true }
#lesson.mt-4.form-group
  = f.select :lesson_id, @lessons.collect {|u| [ u.name, u.id ] }
