header (class ="navbar navbar-dark navbar-expand-md sticky-top bg-dark flex-md-nowrap p-0")
  ul (class ="navbar-nav ml-auto px-3")
    li.nav-item = link_to "Hello, Admin", '#', class: 'nav-link active'
    li.nav-item = link_to "Log out", logout_path, method:"delete", class: 'nav-link'
