.sidebar-sticky {
  position: sticky;
  top: 55px;
  height: calc(100vh - 55px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.nav {
  .nav-item{
    border-bottom: 1px solid;
    a{
        font-size: 20px;
    }
  }
  &-link {
    color: #333;
    font-size: 16px;
    .oi {
        margin-right: 10px;
    }
  }
}
.box{
  display: flex;
  flex-wrap: wrap;
  .box-item{
    min-width: 210px;
    background: #bfe6ef;
    margin: 15px 15px 15px 15px;
    padding: 10px;
    border-radius: 3px;
  }
}
