.btn-learn-wrods {
  display: flex;
  .alphabet-form {
    .btn-alphabet {
      position: relative;
      min-width: 120px;
      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .alphabet-wrapper {
      position: absolute;
      display: none;
      --columns: 6;
      --gap: 4px;
      grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background: #fff;
      padding: 8px;
      border-radius: 6px;
      .alphabet-word {
        --size: 36px;
        width: var(--size);
        height: var(--size);
        background-color: #c4c4c4;
        color: #444;
        border: 1px solid #fff;
        cursor: pointer;
      }
    }
    .alphabet-active {
      display: grid;
    }
  }
}
